.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.start-quiz-button {
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgb(23, 193, 255);
  color: white;
  font-size: 3rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 5rem;
  text-decoration: none;
}

.start-quiz-button img {
  width: 45px;
  height: auto;
  margin-right: 2.2rem;
}

.start-quiz-button:hover {
  text-decoration: none;
  color: white;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: auto;
}

.categories__item {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background: rgb(255, 228, 181);
  color: black;
  border-radius: 4rem;
  border-bottom: 1rem solid rgb(229, 204, 162);
  overflow: hidden;
  position: relative;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.categories__item:hover {
  transform: scale(0.95);
}

.categories__item > span {
  display: block;
  font-size: 2rem;
  background-color: rgb(255, 228, 181);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.categories__item > img {
  object-fit: cover;
  height: 100%;
}
