.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  text-decoration: none;
  color: inherit;
}

.header__score {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.2);
  display: flex;
  width: 18rem;
  height: 7rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  gap: 1.5rem;
}

.header__score > img {
  object-fit: cover;
  width: 5rem;
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.logo > img {
  width: 300px;
  height: auto;
}

.header__profile {
  display: flex;
  width: 18rem;
  height: 7rem;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  padding: 1rem;
}

.header__profile > img {
  object-fit: cover;
  width: 4rem;
}

.header__profile > span {
  font-size: 2.5rem;
  font-weight: 700;
}
