body {
  font-family: "Short Stack", cursive;
}
.logIn__container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  border-radius: 1rem;
  background-color: rgba(255, 251, 231, 0.9);
}

.logIn__img {
  margin-top: -8rem;
  width: 40dvw;
  object-fit: contain;
}
.logIn__eingabeauforderung-h2 {
  font-size: 3rem;
  color: rgb(0, 119, 53);
  justify-self: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.logIn__eingabeauforderung-p {
  font-size: 2rem;
  color: rgb(0, 119, 53);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.logIn__benutzername {
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  border-color: rgb(190, 139, 94);
  font-size: 2rem;
  font-family: "Short Stack", cursive;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 30rem;
}

.logIn__submit {
  background: rgb(190, 139, 94);
  border-radius: 1rem;
  border-color: rgb(190, 139, 94);
  font-size: 2rem;
  font-family: "Short Stack", cursive;
  padding: 1rem;
  margin: 1rem;
  color: white;
}
