html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Short Stack", cursive;
  /*overflow: hidden; /* Verhindert Scrollen */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title-Quizapp {
  font-size: 30px;
  font-weight: bold;
  color: green;
}

.score-container {
  background-color: rgb(176, 196, 222);
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  color: white;
  display: inline-block; /* Verhindert, dass das Element 100% der Breite einnimmt */
}

.score-text {
  font-size: 30px;
}

.score-value {
  font-size: 80px;
  font-weight: bold;
  margin-top: 10px;
}

.progressbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.progressbar {
  position: relative;
  width: 600px;
  background-color: rgb(176, 196, 222);
  border-radius: 15px;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.progressbar__fill {
  height: 100%;
  background-color: rgb(233, 249, 56);
  border-radius: 15px 0 0 15px;
  transition: width 1.3s ease;
}

.star {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  opacity: 0;
  transition: opacity 1.7s ease, font-size 1.7s ease;
}

.star1 {
  left: 25%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.star2 {
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.star3 {
  left: 75%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.star4 {
  left: 97%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.progress-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease;
}

.progress-button:hover {
  background-color: green;
}

.question-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.question {
  font-size: 24px;
  font-weight: bold;
  color: black;
  background-color: aquamarine;
  border-radius: 15px;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.audio-container {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.audio-container-banner {
  margin-top: 10px;
  cursor: pointer;
}

.speaker-icon {
  width: 40px;
  height: auto;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
}

.answer-image {
  border-radius: 15px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.answer-text {
  font-size: 16px;
}

.answer:hover {
  transform: scale(1.05);
}

.answer.selected {
  transform: scale(1.2);
  background-color: grey;
}

.check-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px auto 0 auto;
}

.check-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(197, 113, 253);
  border-style: none;
}

.check-button img {
  width: 40px;
  height: auto;
}

.skip-button-container {
  position: absolute;
  top: 50%;
  right: -350px;
  transform: translateY(-50%);
}

.skip-button-container-select {
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.skip-button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(197, 113, 253);
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  text-decoration: none;
}

.skip-icon {
  width: 30px;
  height: 30px;
  transform: rotate(270deg);
}

.skip-button:hover {
  transform: scale(1.1);
}

.question-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center; /* Zentriert den gesamten Inhalt horizontal */
  width: 100%;
  height: 100%;
}

.question-click-point_image-container {
  position: relative;
  display: inline-block;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.question-click-point_quiz-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
}

.question-click-point_click-marker {
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: white;
  border-radius: 30px;
}

.question-click-point_click-marker img {
  width: 25px;
  height: 25px;
}

.question-click-point_reset-button {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 50px;
  border: none;
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.question-click-point_reset-button-icon {
  width: 30px;
  height: 30px;
}

.question-click-point_reset-button:hover {
  transform: scale(1.1);
}

.question-time-click_image-container {
  position: relative;
  display: inline-block;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.question-time-click_quiz-images {
  width: 100%;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
}

.question-time-click_click-marker {
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: white;
  border-radius: 30px;
}

.question-time-click_click-marker img {
  width: 25px;
  height: 25px;
}

.question-time-click_correct {
  background-color: green;
}

.question-time-click_incorrect {
  background-color: red;
}

.banner-right {
  background-color: rgb(144, 238, 144);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-out;
  margin-top: 20px;
}

@keyframes slideDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.banner-right img {
  width: 30px;
  height: 30px;
}

.banner-wrong {
  background-color: rgb(255, 99, 71);
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: shake 0.5s ease-out;
  margin-top: 20px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.banner-wrong img {
  width: 30px;
  height: 30px;
}

.settings-page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.revert-button {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  text-decoration: none;
}

.revert-button img {
  width: 30px;
  height: 30px;
}

.revert-button-question {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgb(197, 113, 253);
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  text-decoration: none;
}

.revert-button-question img {
  width: 30px;
  height: 30px;
}

.settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.settings-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.avatar-image {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.edit-avatar-button {
  background-color: rgb(197, 113, 253);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.divider {
  width: 100%;
  border-top: 1px solid black;
  margin: 20px 0;
}

.nickname-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nickname-label {
  font-size: 20px;
  margin-bottom: 5px;
}

.nickname-display {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.nickname-display span {
  margin-right: 10px;
}

.edit-arrow {
  width: 20px;
  height: 20px;
  transform: rotate(270deg);
}

.nickname-edit {
  display: flex;
  align-items: center;
}

.nickname-input {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.save-nickname-button {
  background-color: rgb(197, 113, 253);

  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sound-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sound-label {
  font-size: 20px;
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(197, 113, 253);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container-welcome-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-banner-home {
  width: 700px;
  height: 250px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  background-color: rgb(37, 173, 241);
  background-image: linear-gradient(
    to bottom,
    rgb(23, 193, 255) 0%,
    rgb(170, 1, 208) 100%
  );
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  text-align: center;
}

.drag-and-drop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.drop-boxes {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.drop-box {
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.drop-box-image {
  width: 80px;
  height: auto;
}

.answers-in-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.answer-in-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-options {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.draggable-answer {
  padding: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.answer-option-image,
.answer-image {
  width: 80px;
  height: auto;
}
