html,
body {
  height: 100%;
  overflow: hidden; /* Verhindert Scrollen */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-container {
}

.quiz-mian {
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: transparent; /* Hintergrundfarbe transparent setzen */
}

.nav-button {
  background-color: green;
  border: none;
  height: 80px;
  width: 70px;
  margin: 40px;
  border-radius: 20px; /* Ecken abrunden */
  padding: 10px; /* Platz um das Bild herum */
}

.nav-button.active {
  background-color: grey; /* Aktives Feld grau färben */
}

.nav-button:hover {
  transform: scale(1.1); /* Bei Hover vergrößern */
}

.nav-button img {
  width: 50px; /* Bildgröße anpassen */
  height: 50px;
}
