html,
body {
  height: 100%;
  /*overflow: hidden; /* Verhindert Scrollen */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.title-Quizapp {
  font-size: 30px;
  font-weight: bold;
  color: green;
}


.score-container {
  background-color: green;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
  display: inline-block; /* Verhindert, dass das Element 100% der Breite einnimmt */
}

.score-text {
  font-size: 20px;
}

.score-value {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}

.progressbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.progressbar {
  position: relative;
  width: 300px;
  background-color: yellow;
  border-radius: 15px;
  overflow: hidden;
  height: 30px;
  margin-bottom: 10px;
}

.progressbar__fill {
  height: 100%;
  background-color: green;
  border-radius: 15px 0 0 15px;
  transition: width 0.3s ease;
}

.star {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  opacity: 0;
  transition: opacity 0.3s ease, font-size 0.3s ease;
}

.star1 {
  left: 25%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.star2 {
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.star3 {
  left: 75%;
  transform: translate(
    -50%,
    -50%
  ); /* Stern wird mittig vom Fortschritt zentriert */
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.progress-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease;
}

.progress-button:hover {
  background-color: green;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.question {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.audio-container {
  margin-bottom: 20px;
  cursor: pointer;
}

.audio-container-banner {
  margin-top: 10px;
  cursor: pointer;
}

.speaker-icon {
  width: 50px;
  height: 50px;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, border 0.3s ease;
}

.answer-image {
  border-radius: 15px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.answer-text {
  font-size: 16px;
}

.answer:hover {
  transform: scale(1.05);
}

.answer.selected {
  transform: scale(1.1);
  background-color: grey;
}

.skip-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.skip-icon {
  width: 30px;
  height: 30px;
  transform: rotate(270deg);
}

.skip-button:hover {
  transform: scale(1.1);
}

.question-click-point_image-container {
  position: relative;
  display: inline-block;
}

.question-click-point_quiz-image {
  border-radius: 15px;
  cursor: pointer;
}

.question-click-point_click-marker {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.question-click-point_click-marker img {
  width: 25px;
  height: 25px;
}

.question-click-point_reset-button {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 50px;
  border: none;
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

.question-click-point_reset-button-icon {
  width: 30px;
  height: 30px;
}

.question-click-point_reset-button:hover {
  transform: scale(1.1);
}

.question-time-click_image-container {
  position: relative;
  display: inline-block;
  border-radius: 15px;
}

.question-time-click_quiz-images {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.question-time-click_click-marker {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.question-time-click_click-marker img {
  width: 30px;
  height: 30px;
}

.question-time-click_correct {
  background-color: green;
}

.question-time-click_incorrect {
  background-color: red;
}

.banner-right {
  background-color: #a4de02;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-out;
  margin-top: 40px;
}

@keyframes slideDown {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.banner-right img {
  width: 30px;
  height: 30px;
}

.banner-wrong {
  background-color: #fc594a;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: shake 0.5s ease-out;
  margin-top: 40px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.banner-wrong img {
  width: 30px;
  height: 30px;
}
